header{
    font-size: x-large;
    text-align: center;
    background-color: bisque;
    border: 1cm;
    padding: 2cm;
    margin: 0cm;
    border-width: 1cqmin;
    border-style: dashed;
}
section{
    text-align: center;
    font-size: larger;
    font-style: oblique;
    background-color: cadetblue;
    border: 1cm;
    margin: 1cm;
    padding: 1cm;
}
  /* Default styles */
body {
    font-size: 16px;
    background-color: white;
  }
  
  /* For screens smaller than 768px (e.g., tablets, phones) */
  @media (max-width: 768px) {
    body {
      font-size: 14px;
      background-color: lightgray;
    }
  }
  
  /* For screens larger than 1200px (e.g., desktops) */
  @media (min-width: 1200px) {
    body {
      font-size: 18px;
      background-color: blue;
  }
  }  